<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Rescisão de Contrato de Trabalho</h3>
  </div>
  <div class="box-body">
    <h4>Como saber valor do Salário Bruto?</h4>
    <p>Para achar o salário bruto, some todos os valores que você recebe em seu contracheque. Isso inclui:</p>
    <ul>
      <li>Salário-base: é o valor que você recebe por mês pelo trabalho realizado.</li>

      <li>Horas extras: caso você tenha trabalhado mais horas do que o acordado em seu contrato, você receberá um
        adicional pelas horas extras trabalhadas.</li>

      <li>Adicionais: alguns empregos oferecem adicionais ao salário-base, como adicional de periculosidade,
        insalubridade, noturno, entre outros.</li>

      <li>Comissões: caso você trabalhe em vendas, por exemplo, pode receber comissões sobre as vendas realizadas.</li>

      <li>Bonificações: são pagamentos extras que podem ser concedidos pela empresa em reconhecimento a algum trabalho
        excepcional realizado ou atingimento de metas.</li>

      <li>Vale-refeição ou vale-alimentação pago em dinheiro: é um benefício que muitas empresas oferecem para seus
        funcionários, para
        que possam se alimentar durante o expediente.</li>
    </ul>
    <p>O cálculo do salário bruto é simples: basta somar todos esses valores para obter o valor total do seu salário
      bruto.</p>

    <p>Salário bruto = Salário-base + Horas extras + Adicionais + Comissões + Bonificações + Vale-refeição pago em
      dinheiro ou
      vale-alimentação pago em dinheiro + Outros benefícios</p>

    <p>Lembre-se de que o valor do salário bruto pode variar de acordo com cada situação e com as políticas da empresa
      em que você trabalha.</p>
    <h4>Tipos de Demissão</h4>
    <p>A demissão é um processo em que o empregado deixa o emprego por vontade própria ou por iniciativa do empregador.
      Existem diferentes tipos de demissão que podem ocorrer em uma relação de trabalho, incluindo:</p>

    <ol>
      <li><b>Demissão sem justa causa:</b> A demissão sem justa causa ocorre quando o empregador decide rescindir o
        contrato
        de trabalho sem apresentar uma razão específica para isso. Nesse caso, o empregador deve pagar ao empregado
        as verbas rescisórias, tais como aviso prévio, férias vencidas, 13º salário proporcional, multa de 40% sobre o
        saldo do FGTS, entre outras.</li>

      <li><b>Demissão por justa causa:</b> A demissão por justa causa ocorre quando o empregado comete alguma falta
        grave
        prevista em lei
        ou no contrato de trabalho, como roubo, negligência, insubordinação, entre outras. Nesse caso,
        o empregador não precisa pagar as verbas rescisórias, e o empregado perde o direito ao seguro-desemprego e ao
        saque do FGTS.</li>

      <li><b>Demissão voluntária:</b> A demissão voluntária ocorre quando o empregado decide deixar o emprego por
        vontade
        própria,
        sem que haja nenhum tipo de pressão ou incentivo do empregador. Nesse caso, o empregado não tem direito às
        verbas rescisórias,
        mas pode sacar o saldo do FGTS e receber o seguro-desemprego em alguns casos.</li>

      <li><b>Demissão por acordo entre as partes:</b> A demissão por acordo entre as partes ocorre quando o empregado e
        o
        empregador concordam
        em rescindir o contrato de trabalho de forma amigável, geralmente em troca de benefícios como o pagamento de uma
        indenização ou
        a liberação do aviso prévio. Nesse caso, o empregado tem direito às verbas rescisórias, como o aviso prévio,
        o 13º salário proporcional e a multa de 40% sobre o saldo do FGTS, além de poder sacar até 80% do saldo do FGTS.
      </li>
    </ol>

    <h4>Aviso Prévio</h4>
    <p>O aviso prévio é uma comunicação prévia que uma das partes envolvidas em um contrato de trabalho deve dar à outra
      parte antes de rescindir o contrato. Essa comunicação deve ser feita por escrito e pode ser entregue pessoalmente
      ao empregado ou por meio de carta registrada.</p>
    <p>O objetivo do aviso prévio é permitir que o empregado tenha tempo para se preparar para a rescisão do contrato e
      buscar um novo emprego, enquanto o empregador tem tempo para se ajustar à saída do empregado e buscar um
      substituto.</p>
    <p>O período de aviso prévio varia de acordo com o tempo de serviço do empregado na empresa, conforme estabelecido
      pela legislação trabalhista. Para contratos com duração de até 1 ano, o aviso prévio é de 30 dias; para contratos
      entre 1 e 2 anos, o aviso prévio é de 33 dias; e para contratos acima de 2 anos, o aviso prévio varia de 30 a 60
      dias, dependendo do tempo de serviço.</p>
    <p>Caso o empregado seja dispensado sem justa causa, ele terá direito ao aviso prévio ou ao pagamento equivalente a
      esse período, juntamente com as demais verbas rescisórias. Se o empregado pedir demissão, ele poderá cumprir o
      aviso prévio ou pagar ao empregador o valor correspondente a esse período.</p>

    <h4>Férias Proporcionais</h4>
    <p>Férias proporcionais são o período de férias a que o empregado tem direito em razão do tempo de serviço prestado
      à
      empresa. Esse direito é garantido pela legislação trabalhista brasileira e é um dos direitos mais importantes do
      trabalhador.</p>
    <p>O período de férias é de 30 dias corridos e pode ser concedido de forma fracionada, desde que haja concordância
      entre empregado e empregador. As férias devem ser concedidas no período aquisitivo, que é o período de 12 meses
      contados a partir da data de admissão do empregado.</p>
    <p>Caso o empregado seja demitido sem justa causa antes de completar o período aquisitivo, ele terá direito a
      receber
      férias proporcionais. O cálculo das férias proporcionais é feito com base no tempo de serviço prestado pelo
      empregado na empresa, dividindo-se esse tempo pelo período aquisitivo de 12 meses e multiplicando o resultado pelo
      período de férias de 30 dias.</p>
    <p>Por exemplo, se o empregado trabalhou na empresa por 6 meses e foi demitido sem justa causa, ele terá direito a
      receber 1/2 (meio) do período de férias proporcionais, ou seja, 15 dias de férias proporcionais. Se o empregado
      trabalhou na empresa por 8 meses, ele terá direito a receber 2/3 (dois terços) do período de férias proporcionais,
      ou seja, 20 dias de férias proporcionais.</p>
    <p>As férias proporcionais são uma forma de compensar o empregado que foi demitido sem justa causa antes de
      completar
      o período aquisitivo de férias e garantir que ele tenha direito a um descanso remunerado após o término do
      contrato
      de trabalho.</p>

    <h4>Um Terço de Férias</h4>
    <p>O terço de férias é um adicional de um terço (1/3) do salário que o empregado tem direito a receber juntamente
      com
      as férias. Esse adicional está previsto na Constituição Federal e é um direito de todo trabalhador que usufrui do
      período de férias.</p>
    <p>O objetivo do terço de férias é proporcionar ao trabalhador uma remuneração adicional durante o período de
      descanso, permitindo que ele possa aproveitar as férias com mais tranquilidade e sem se preocupar com despesas
      financeiras.</p>
    <p>O valor do terço de férias é calculado com base no salário do empregado e deve ser pago juntamente com as férias.
      Por exemplo, se o salário mensal do empregado é de R$ 2.000,00, ele terá direito a receber R$ 2.666,67 (2.000 +
      1/3
      de 2.000 = 2.666,67) durante o período de férias.</p>
    <p>Vale ressaltar que o terço de férias é um direito irrenunciável do empregado, ou seja, mesmo que ele concorde em
      receber um valor menor durante as férias, o empregador é obrigado a pagar o valor integral do terço de férias. O
      não
      pagamento do terço de férias configura uma infração trabalhista e pode gerar multas e outras penalidades para o
      empregador.</p>

    <h4>Décimo Terceiro Salário</h4>
    <p>O décimo terceiro salário, também conhecido como gratificação natalina, é uma remuneração extra que todo
      trabalhador com carteira assinada tem direito a receber no final do ano, correspondente a um salário mensal.</p>
    <p>Esse benefício foi instituído no Brasil por meio da Lei nº 4.090/1962 e é garantido pela Constituição Federal. O
      objetivo do décimo terceiro salário é proporcionar uma renda extra para os trabalhadores durante as festividades
      de fim de ano, como Natal e Ano Novo, além de contribuir para a movimentação da economia nessa época do ano.</p>
    <p>O décimo terceiro salário é pago em duas parcelas: a primeira, correspondente a metade do valor do benefício,
      deve ser paga até o dia 30 de novembro de cada ano; a segunda parcela, correspondente à outra metade do valor,
      deve ser paga até o dia 20 de dezembro de cada ano.</p>
    <p>O valor do décimo terceiro salário é calculado com base no salário bruto do trabalhador, dividido por 12 meses,
      multiplicado pelo número de meses trabalhados no ano. Por exemplo, se o trabalhador recebe um salário bruto de R$
      2.000,00 por mês e trabalhou o ano todo, ele terá direito a receber R$ 2.000,00 de décimo terceiro salário.</p>
    <p>O décimo terceiro salário é um direito irrenunciável do trabalhador, ou seja, mesmo que o empregado concorde em
      receber um valor menor ou abrir mão do benefício, o empregador é obrigado a pagar o valor integral do décimo
      terceiro salário. O não pagamento do décimo terceiro salário configura uma infração trabalhista e pode gerar
      multas e outras penalidades para o empregador.</p>

    <h4>Salário Família</h4>
    <p>Valores vigentes:</p>
    <app-tabela-salario-familia></app-tabela-salario-familia>
    <p>Salário Família é um benefício previdenciário concedido pelo Instituto Nacional do Seguro Social (INSS) aos
      trabalhadores que têm filhos ou dependentes de até 14 anos de idade (ou inválidos de qualquer idade), desde que
      estejam dentro dos critérios estabelecidos pela legislação.</p>
    <p>O valor do Salário Família é pago mensalmente e varia de acordo com a faixa salarial do trabalhador. Atualmente,
      em 2023, o valor máximo pago pelo INSS é de R$ 55,64 por filho ou dependente de até 14 anos de idade, para
      trabalhadores com renda mensal de até R$ 1.504,31. Para trabalhadores com renda mensal entre R$ 1.504,32 e R$
      2.570,09, o valor do Salário Família é de R$ 39,24 por filho ou dependente.</p>
    <p>Para ter direito ao Salário Família, o trabalhador deve comprovar a existência do filho ou dependente mediante
      apresentação de certidão de nascimento ou outro documento comprobatório. Além disso, é necessário que o
      trabalhador esteja contribuindo para a Previdência Social, seja na condição de empregado com carteira assinada,
      trabalhador avulso ou segurado especial.</p>
    <p>O objetivo do Salário Família é auxiliar no sustento das famílias de baixa renda, contribuindo para a redução da
      desigualdade social e garantindo uma proteção social básica aos filhos e dependentes dos trabalhadores
      brasileiros.</p>


    <h4>Desconto do Inss</h4>
    <p>Alíquotas vigentes:</p>
    <app-tabela-inss></app-tabela-inss>
    <p>INSS significa Instituto Nacional do Seguro Social e é uma autarquia federal responsável pelo pagamento de
      benefícios previdenciários aos trabalhadores brasileiros, como aposentadoria, pensão por morte, auxílio-doença,
      entre outros.</p>
    <p>O INSS também é responsável pela arrecadação das contribuições previdenciárias, que são valores descontados da
      folha de pagamento dos trabalhadores e das empresas, com o objetivo de financiar a seguridade social e garantir a
      proteção social aos trabalhadores.</p>
    <p>Na prática, o INSS sobre a folha de pagamento significa que as empresas devem descontar uma porcentagem do
      salário dos trabalhadores, que varia de acordo com a faixa salarial, para recolher ao INSS. Além disso, as
      empresas também devem contribuir com uma alíquota sobre a folha de pagamento dos seus funcionários, de acordo com
      o regime tributário escolhido.</p>
    <p>O desconto do INSS é obrigatório para todos os trabalhadores que possuem vínculo empregatício, incluindo os
      empregados domésticos. O valor descontado varia de acordo com o salário bruto do trabalhador e a tabela de
      contribuição do INSS vigente, que é atualizada anualmente.</p>
    <p>O INSS sobre a folha de pagamento garante a proteção social dos trabalhadores, uma vez que os
      recursos arrecadados são utilizados para financiar os benefícios previdenciários e assistenciais concedidos pelo
      INSS, como aposentadorias, pensões e auxílios.</p>

    <h4>Desconto do Imposto de Renda</h4>
    <p>Alíquotas vigentes:</p>
    <app-tabela-ir></app-tabela-ir>
    <p>O Imposto de Renda descontado do salário é um valor que é retido mensalmente pela fonte pagadora, ou seja, a
      empresa ou empregador, no momento do pagamento do salário do trabalhador. Esse desconto é feito com base na tabela
      de alíquotas e deduções do Imposto de Renda prevista na legislação tributária.</p>
    <p>Assim, a empresa ou empregador é responsável por realizar o cálculo do Imposto de Renda devido pelo trabalhador e
      descontar o valor correspondente diretamente na fonte. Esse desconto é então repassado para a Receita Federal, que
      utiliza esses recursos para financiar os gastos públicos em áreas como saúde, educação, segurança pública,
      infraestrutura, entre outras.</p>
    <p>É importante destacar que o valor do Imposto de Renda descontado do salário pode variar de acordo com a renda do
      trabalhador e as deduções previstas em lei. Além disso, é possível que o trabalhador tenha direito a restituição
      do Imposto de Renda no momento da declaração anual de ajuste de imposto de renda, caso tenha pago mais imposto do
      que o devido ao longo do ano. Por outro lado, também é possível que o trabalhador tenha imposto a pagar na
      declaração anual, caso o valor do imposto descontado do salário tenha sido insuficiente para cobrir o imposto
      devido de acordo com a renda anual do contribuinte.</p>
  </div>
</div>