
<b>Tabela Contribuição Previdenciária INSS 2023, Portaria Interministerial MPS/MF nº 26 de 10 de janeiro de 2023.</b>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Base de Cálculo</th>
            <th>Aliquota</th>
            <th>Dedução</th>
        </tr>
        <tr>
            <td>0,00 até 1.302,00</td>
            <td> 7,50%</td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>1.302,01 até 2.571,29</td>
            <td>9,00%</td>
            <td>19,53</td>
        </tr>
        <tr>
            <td>2.571,30 até 3.856,94</td>
            <td>12,00%</td>
            <td>96,67</td>
        </tr>
        <tr>
            <td>3.856,95 até 7.507,49</td>
            <td>14,00%</td>
            <td>173,81</td>
        </tr>
    </tbody>
</table>