<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Trabalhista</h4>
  </div>
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a [routerLink]="['/calculo-rescisao-contrato-trabalho']"><i
            class="fa fa-file-text-o"></i>Cálculo
          Rescisão</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/calculo-salario-liquido']"><i class="fa fa-list-ul"></i>Cálculo
          Salário Líquido</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/calcular-ferias']"><i class="fa fa-list-alt"></i>Cálculo
          Férias</a></li>
    </ul>
  </div>

</div>
<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Financeiro</h4>
  </div>
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a [routerLink]="['/calculadora-de-porcentagem']"><i
            class="fa fa-sort-numeric-desc"></i>Cálculo de
          porcentagem</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/financiamento-price']"><i class="fa fa-credit-card"></i>Cálculo
          financiamento tabela
          Price</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/financiamento-sac']"><i class="fa fa-credit-card"></i>Cálculo
          financiamento tabela Sac</a>
      </li>
      <li routerLinkActive="active"><a [routerLink]="['/analise-financeira-de-projeto']"><i
            class="fa fa-dot-circle-o"></i>Análise Financeira de
          Projeto</a></li>
    </ul>
  </div>

</div>
<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Contabilidade</h4>
  </div>
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a [routerLink]="['/analise-de-balanco']"><i class="fa fa-balance-scale"></i>Análise
          de Balanços</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/cnaes-impeditivos-simples-nacional']"><i
            class="fa fa-legal"></i>Cnaes Impeditivos
          Simples Nacional</a></li>
    </ul>
  </div>
</div>