<section class="content-header">
  <h1>
    Cálculo de Financiamento SAC
    <small>Calcule prestações, juros, amortização e saldo devedor de um financiamento pelo Sistema SAC (Sistema de Amortização
      Constante)</small>
  </h1>
</section>
<section class="content">
  <form class="form-horizontal" autocomplete="off" #sacForm="ngForm" id="contaForm"
    [ngFormOptions]="{ updateOn: 'change' }">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Tabela SAC</h3>
          </div>

          <div class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-3">
                  Valor do Financiamento:
                </label>
                <div class="col-sm-3">
                  <input currencyMask name="valor" [(ngModel)]="valor"
                    class="form-control input-sm" [options]="{allowNegative: false }" required/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3">
                  Taxa(% ao mês):
                </label>
                <div class="col-sm-1">
                  <input currencyMask name="taxa" [(ngModel)]="taxa"
                   class="form-control input-sm" [options]="{allowNegative: false }"  required/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3">
                  Período (Número de meses):
                </label>
                <div class="col-sm-1">
                  <input currencyMask name="periodo"  [(ngModel)]="periodo"
                   class="form-control input-sm" [options]="{allowNegative: false, precision: 0 }" required  min="1" max="360" maxlength="3"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-sm" style="margin-bottom: 5px" type="button" [disabled]="sacForm.invalid" (click)="calcular()">Calcular</button>
                  <button class="btn btn-default btn-sm" style="margin-bottom: 5px; margin-left: 10px" type="button" [disabled]="sacForm.invalid" (click)="limparFormulario()">Limpar</button>
                </div>
              </div>
              <div class="row">
              </div>
              <div class="box-body no-padding">
                <div class='table-responsive'>
                  <table *ngIf="parcelas.length" class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Parcela N</th>
                        <th>Prestação</th>
                        <th>Juros</th>
                        <th>Amortização</th>
                        <th>Saldo Devedor</th>
                      </tr>
                      <tr *ngFor="let parcela of parcelas">
                        <td><span *ngIf="parcela.id === undefined"><b>Total</b></span>{{parcela.id}}</td>
                        <td>R$ {{parcela.prestacao | number: "1.2-2"}}</td>
                        <td>R$ {{parcela.juros | number: "1.2-2"}}</td>
                        <td>R$ {{parcela.amortizacao | number: "1.2-2"}}</td>
                        <td>R$ {{parcela.saldoDevedor | number: "1.2-2"}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Conceito</h3>
          </div>
            <div class="box-body">
              <p>A tabela SAC é uma forma de pagamento de um financiamento que é bastante utilizada no mercado financeiro. 
              Nesse sistema, o valor das parcelas é composto por uma parte de amortização e outra de juros, sendo que a 
              proporção entre as duas varia a cada mês. A cada mês, o valor da parcela permanece constante, 
              enquanto a proporção entre a parte de amortização e a parte de juros varia.</p>

              <p>Na tabela SAC, a amortização é constante ao longo do período de financiamento e os juros são calculados
               sobre o saldo devedor do mês anterior. Isso significa que a cada mês, a parcela paga pelo tomador 
               de empréstimo é composta por uma parte de juros, que é calculada com base no saldo devedor do mês anterior, 
               e uma parte de amortização, que é constante.</p>

               <p>A tabela SAC apresenta o valor das prestações mensais do financiamento, 
              bem como o valor dos juros e da amortização a cada mês. A amortização é calculada dividindo-se o valor total
               do financiamento pelo número de meses do prazo, enquanto os juros são 
               calculados multiplicando-se o saldo devedor do mês anterior pela taxa de juros.</p>

               <p>Em resumo, a tabela SAC é uma forma de pagamento de um financiamento que apresenta valores de prestações, 
              juros e amortizações de forma organizada, permitindo que o tomador de empréstimo visualize claramente 
              o valor das prestações, dos juros e da amortização em cada mês do financiamento. 
              Isso permite que o tomador de empréstimo faça uma análise mais precisa das condições do financiamento 
              e avalie a viabilidade de realizar o pagamento antecipado das parcelas, por exemplo.</p>
            </div>
        </div>
      </div>
    </div>
  </form>
</section>