<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Como saber valor do Salário Bruto?</h3>
  </div>
  <div class="box-body">
    <p>Para achar o salário bruto, some todos os valores que você recebe em seu contracheque. Isso inclui:</p>
    <ul>
      <li>Salário-base: é o valor que você recebe por mês pelo trabalho realizado.</li>

      <li>Horas extras: caso você tenha trabalhado mais horas do que o acordado em seu contrato, você receberá um
        adicional pelas horas extras trabalhadas.</li>

      <li>Adicionais: alguns empregos oferecem adicionais ao salário-base, como adicional de periculosidade,
        insalubridade, noturno, entre outros.</li>

      <li>Comissões: caso você trabalhe em vendas, por exemplo, pode receber comissões sobre as vendas realizadas.</li>

      <li>Bonificações: são pagamentos extras que podem ser concedidos pela empresa em reconhecimento a algum trabalho
        excepcional realizado ou atingimento de metas.</li>

      <li>Vale-refeição ou vale-alimentação pago em dinheiro: é um benefício que muitas empresas oferecem para seus
        funcionários, para
        que possam se alimentar durante o expediente.</li>
    </ul>
    <p>O cálculo do salário bruto é simples: basta somar todos esses valores para obter o valor total do seu salário
      bruto.</p>

    <p>Salário bruto = Salário-base + Horas extras + Adicionais + Comissões + Bonificações + Vale-refeição pago em
      dinheiro ou
      vale-alimentação pago em dinheiro + Outros benefícios</p>

    <p>Lembre-se de que o valor do salário bruto pode variar de acordo com cada situação e com as políticas da empresa
      em que você trabalha.</p>
    <h4>Desconto do Inss</h4>
    <p>Alíquotas vigentes:</p>
    <app-tabela-inss></app-tabela-inss>
    <p>INSS significa Instituto Nacional do Seguro Social e é uma autarquia federal responsável pelo pagamento de
      benefícios previdenciários aos trabalhadores brasileiros, como aposentadoria, pensão por morte, auxílio-doença,
      entre outros.</p>
    <p>O INSS também é responsável pela arrecadação das contribuições previdenciárias, que são valores descontados da
      folha de pagamento dos trabalhadores e das empresas, com o objetivo de financiar a seguridade social e garantir a
      proteção social aos trabalhadores.</p>
    <p>Na prática, o INSS sobre a folha de pagamento significa que as empresas devem descontar uma porcentagem do
      salário dos trabalhadores, que varia de acordo com a faixa salarial, para recolher ao INSS. Além disso, as
      empresas também devem contribuir com uma alíquota sobre a folha de pagamento dos seus funcionários, de acordo com
      o regime tributário escolhido.</p>
    <p>O desconto do INSS é obrigatório para todos os trabalhadores que possuem vínculo empregatício, incluindo os
      empregados domésticos. O valor descontado varia de acordo com o salário bruto do trabalhador e a tabela de
      contribuição do INSS vigente, que é atualizada anualmente.</p>
    <p>O INSS sobre a folha de pagamento garante a proteção social dos trabalhadores, uma vez que os
      recursos arrecadados são utilizados para financiar os benefícios previdenciários e assistenciais concedidos pelo
      INSS, como aposentadorias, pensões e auxílios.</p>

    <h4>Desconto do Imposto de Renda</h4>
    <p>Alíquotas vigentes:</p>
    <app-tabela-ir></app-tabela-ir>
    <p>O Imposto de Renda descontado do salário é um valor que é retido mensalmente pela fonte pagadora, ou seja, a
      empresa ou empregador, no momento do pagamento do salário do trabalhador. Esse desconto é feito com base na tabela
      de alíquotas e deduções do Imposto de Renda prevista na legislação tributária.</p>
    <p>Assim, a empresa ou empregador é responsável por realizar o cálculo do Imposto de Renda devido pelo trabalhador e
      descontar o valor correspondente diretamente na fonte. Esse desconto é então repassado para a Receita Federal, que
      utiliza esses recursos para financiar os gastos públicos em áreas como saúde, educação, segurança pública,
      infraestrutura, entre outras.</p>
    <p>É importante destacar que o valor do Imposto de Renda descontado do salário pode variar de acordo com a renda do
      trabalhador e as deduções previstas em lei. Além disso, é possível que o trabalhador tenha direito a restituição
      do Imposto de Renda no momento da declaração anual de ajuste de imposto de renda, caso tenha pago mais imposto do
      que o devido ao longo do ano. Por outro lado, também é possível que o trabalhador tenha imposto a pagar na
      declaração anual, caso o valor do imposto descontado do salário tenha sido insuficiente para cobrir o imposto
      devido de acordo com a renda anual do contribuinte.</p>

    <h4>Salário Família</h4>
    <p>Valores vigentes:</p>
    <app-tabela-salario-familia></app-tabela-salario-familia>
    <p>Salário Família é um benefício previdenciário concedido pelo Instituto Nacional do Seguro Social (INSS) aos
      trabalhadores que têm filhos ou dependentes de até 14 anos de idade (ou inválidos de qualquer idade), desde que
      estejam dentro dos critérios estabelecidos pela legislação.</p>
    <p>O valor do Salário Família é pago mensalmente e varia de acordo com a faixa salarial do trabalhador. Atualmente,
      em 2023, o valor máximo pago pelo INSS é de R$ 55,64 por filho ou dependente de até 14 anos de idade, para
      trabalhadores com renda mensal de até R$ 1.504,31. Para trabalhadores com renda mensal entre R$ 1.504,32 e R$
      2.570,09, o valor do Salário Família é de R$ 39,24 por filho ou dependente.</p>
    <p>Para ter direito ao Salário Família, o trabalhador deve comprovar a existência do filho ou dependente mediante
      apresentação de certidão de nascimento ou outro documento comprobatório. Além disso, é necessário que o
      trabalhador esteja contribuindo para a Previdência Social, seja na condição de empregado com carteira assinada,
      trabalhador avulso ou segurado especial.</p>
    <p>O objetivo do Salário Família é auxiliar no sustento das famílias de baixa renda, contribuindo para a redução da
      desigualdade social e garantindo uma proteção social básica aos filhos e dependentes dos trabalhadores
      brasileiros.</p>
  </div>
</div>