<b>Tabela Contribuição Previdenciária INSS 2024, Período de 01/01/2024 a 31/12/2024.</b>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Base de Cálculo</th>
            <th>Aliquota</th>
            <th>Dedução</th>
        </tr>
        <tr *ngFor="let faixa of faixasInss; let i = index">
            <td><span *ngIf="i > 0">de {{faixasInss[i-1].limiteSuperior + 0.01 | number: "1.2-2"}}</span> até
                {{faixa.limiteSuperior |
                number: "1.2-2"}}
            </td>
            <td>{{faixa.aliquota * 100 | number: "1.2-2"}}%</td>
            <td>{{faixa.deducao | number: "1.2-2"}}</td>
        </tr>
    </tbody>
</table>