<b>Tabela Progressiva Mensal do Imposto de Renda da Pessoa Física 2024</b>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Base de cálculo</th>
            <th>Alíquota</th>
            <th>Dedução</th>
        </tr>
        <tr *ngFor="let faixa of faixasIr; let i = index">
            <td><span *ngIf="i > 0">de R$ {{faixasIr[i-1].limiteSuperior + 0.01 | number: "1.2-2"}}</span> até
                {{faixa.limiteSuperior | number: "1.2-2"}}
            </td>
            <td>{{faixa.aliquota * 100 | number: "1.2-2"}}%</td>
            <td>{{faixa.deducao | number: "1.2-2"}}</td>
        </tr>
    </tbody>
</table>
<p><b>Dedução por dependente legal: {{deducaoPorDependente | number: "1.2-2"}}</b></p>