<section class="content-header">
  <h1>
    Cálculo de Recisão de Contrato de Trabalho
    <small>Calcule os valores totais de uma recisão de contrato de trabalho.</small>
  </h1>
</section>
<section class="content">
  <form class="form-horizontal" autocomplete="off" #recisaoForm="ngForm" id="recisaoForm"
    [ngFormOptions]="{ updateOn: 'change'}">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Recisão</h3>
          </div>
          <div class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2"> Data Início: </label>
              <div class="col-sm-4">
                <input class="form-control input-sm" type="date"
                name="dataInicio" [(ngModel)]="recisao.dataInicio" required style="text-align: right;">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2"> Data Fim: </label>
              <div class="col-sm-4">
                <input class="form-control input-sm" type="date"
                name="dataFim" [(ngModel)]="recisao.dataFim" required style="text-align: right;">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2">Motivo: </label>
              <div class="col-sm-4">
              <select class="form-control input-sm" name="motivo" [(ngModel)]="recisao.motivo" required>
              <option [value]="motivo.valor" *ngFor="let motivo of motivosRecisao">{{motivo.nome}}</option>
              </select>
              </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2"> Valor do último salário: </label>
                <div class="col-sm-4">
                  <input class="form-control input-sm" currencyMask [options]="{allowNegative: false }" required
                   name="ultimoSalario" [(ngModel)]="recisao.ultimoSalario" style="text-align: right;">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">Aviso prévio: </label>
                <div class="col-sm-4">
                <select class="form-control  input-sm" name="avisoPrevio"  [(ngModel)]="recisao.avisoPrevio" required>
                  <option [value]="avisoPrevio.valor" *ngFor="let avisoPrevio of avisosPrevios">{{avisoPrevio.nome}}</option>
                </select>
                </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2"> Número de filhos: </label>
                  <div class="col-sm-4">
                    <input class="form-control input-sm" type="number"
                    name="filhos" [(ngModel)]="recisao.filhos" required style="text-align: right;">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-sm" style="margin-bottom: 5px" type="button" [disabled]="recisaoForm.invalid" (click)="calcular()">Calcular</button>
                    <button class="btn btn-default btn-sm" style="margin-bottom: 5px; margin-left: 10px" type="button" [disabled]="recisaoForm.invalid" (click)="limparFormulario()">Limpar</button>
                  </div>
                </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </form>
  <!-- <pre>{{recisaoForm.value | json}}</pre> -->
  <pre>Saldo Salário: {{saldoDeSalario| json}}</pre>
  <pre>Inss: {{inssSalarioBruto | json}}</pre>
  <pre>IRFF: {{impostoDeRendaSalarioBruto | json}}</pre>
  <pre>Décimo Terceiro: {{decimoTerceiro | json}}</pre>
  <pre>Férias: {{ferias | json}}</pre>
  

</section>